<head> 
	<title>The thanks website</title>
	
	
	<script>
	async function postJSON(url, data) {
  try {
    const response = await fetch(url, {
      method: "POST", // or 'PUT'
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    const result = await response.json();

	
  } catch (error) {
    console.error("Error:", error);
  }
}


async function getJSON(url) {
  try {
    const response = await fetch(url);

    const result = await response.json();
    console.log("Success:", result);
	
   
	for (let x of result) {
		console.log(x);
		const node = document.createElement("p");
		const textnode = document.createTextNode(x);
		node.appendChild(textnode);
		document.getElementById("thanks").appendChild(node);
	
	
		//let node = document.createElement("p");
		//node.textContent = x;
		//document.getElementById("thanks").appendChild(node);
	}	
	
	
	
  } catch (error) {
    console.error("Error:", error);
  }
}

//const data = { username: "example" };

const url = "https://iy6pyuhpwwowrouitd3uvejaay0rwzyg.lambda-url.us-east-1.on.aws/";

function add() {
	console.log(document.getElementById("text").value);
	//window.alert(document.getElementById("text").value);
	
	const queryString = window.location.search;
	const urlParams = new URLSearchParams(queryString);
	if (urlParams.get("b")) {
		const data = {
			prefix: urlParams.get("b"), 
			type: "ce",
			content: document.getElementById("text").value
		};	
	
		fetch(url, {
					method: "POST", 
					headers: {
						"Content-Type": "text/plain",
					},
					body: JSON.stringify(data),
				}).then(response=>{
							console.log(response.ok);
							window.location.reload(1);
							});
	}
	
}


function choose() {
	let s = document.getElementById("who").value;
	console.log(s);
	s = s.replace("=","").replace("/","").replace(".","").replace("?","");
	console.log(s);
	console.log(window.location);
	if (s) {
		window.location.href = window.location.href + "?b=" + s;
	}
}	
	
	
		//const url = "https://iy6pyuhpwwowrouitd3uvejaay0rwzyg.lambda-url.us-east-1.on.aws/"
		window.onload=()=>{
			const queryString = window.location.search;
			const urlParams = new URLSearchParams(queryString);
			
			if (urlParams.get("a")) {
				document.getElementById("q").textContent = "For: " + urlParams.get("a");
			}
			if (urlParams.get("b")) {
				document.getElementById("q").textContent = "For: " + urlParams.get("b"); // atob(urlParams.get("b"));
				
				const data = {
					prefix: urlParams.get("b"), // atob(urlParams.get("b")),
					type: "rd",
					content: ""
				};
				//postJSON(url, data);
				
				if (0) {
				let s = btoa(JSON.stringify(data)).replace("=","%3D") 
				// ?b=TWFyY2lu
				console.log(url + "?b=" + s);
				getJSON(url + "?b=" + s);
				}
				
				//const response = await 
				
				fetch(url, {
					method: "POST", 
					//method: "GET",
					//mode: "cors",
					//credentials: "include", // "same-origin", 
					headers: {
					//	"Content-Type": "application/json",
						"Content-Type": "text/plain",
					},
					//redirect: "follow",
					//referrerPolicy: "no-referrer",
					body: JSON.stringify(data),
				}).then(
						response=>{
							//console.log(response.json())
							console.log(response);
							console.log(response.ok);
							//console.log(response.text());
							response.json().then(responseJson => {
								console.log(responseJson);
								if ("list" in responseJson) {
									for (let x of responseJson["list"]) {
										console.log(x);
										
										const node = document.createElement("p");
										const textnode = document.createTextNode(x);
										node.appendChild(textnode);
										document.getElementById("thanks").appendChild(node);
										
									}
								}
							});
							//response.text().then(responseText => console.log(responseText));
							//console.log(response.json());
						}
						
					);
				//responseJson = response.
				
			} else {
			  // default 
			  document.getElementById("editor").style.visibility="hidden";
			  document.getElementById("choose").style.visibility="visible";
			}
			if (urlParams.get("e") && urlParams.get("e") == 1) {
			}
			
		}
		

	</script>
</head>
<body>
    <h1>Thanks!</h1>
	<h2 id="q">?</h2>

	<div id="thanks">
	</div>

	<div id="editor">
		<form >
			<label for="text">Provide your thanks:</label>
			<br>
			<textarea rows="3" cols="40" id="text" name="text">
			</textarea>
		</form>
		<input type="button" value="Add" onclick="add()"></input>
	</div>
	<br>
	<div id="choose" style="visibility:hidden">
		<!--form-->
			<label for="who">Provide the name of the person you want to thank</label>
			<input type="text" id="who" name="who"></input>
			<input type="button" value="Accept" onclick="choose()"></input>
		<!--/form-->
	
	</div>
	<a href=".">Main page</a>
</body>

